{% load chapter_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
{#    <link href="{% static "css/ace.min.css" %}" rel="stylesheet">#}
{#    <link rel="stylesheet" href="{% static 'css/ace.min.css'%}" />#}
{#    <link rel="stylesheet" href="{% static 'css/ace-rtl.min.css' %}" />#}
{#    <link rel="stylesheet" href="{% static 'css/ace-skins.min.css' %}" />#}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
</head>
<body>
<div id="content">
    {% block content %}    {% endblock %}
</div>
<div id="sidebar">
    <h2>记录你的生活</h2>
    <p>筛选.</p>
    <p>总共写了{% total_post %}篇文章。</p>
    <h3>最近发布：</h3>
    {% show_latest_post 3 %}
    <h3>评论最多的文章：</h3>
    {% most_commtents_post as most_comments_posts %}
    <ul>
    {% for post in most_comments_posts %}
        <li>
        <a href="{{ post.get_absolute_url  }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
</body>
</html>